<div class="row" style="margin: 50px; ">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <h2>라고 할때 들걸...</h2>
        <br>
        <h4>모의 보험금 산출을 통해</h4>
        <h4>아낄 수 있었던 병원비를 계산해보세요</h4>
        <br>
        <a href="src/_includes/button1.html" class="btn btn-success align-self-center">보험금 모의 산정하기</a>
    </div>
    <div class="col-md-6" style="padding-right: calc(var(--bs-gutter-x) * 0.2);">
        <img src="./img/살걸.jpeg" alt="광고모델이 왼쪽을 바라보는 모습" class="img-fluid visual">
    </div>
</div>
</div>